<div id="coordinates">
  <p>hello</p>
</div>

<%= content_for(:qr) do %>
  <%= javascript_pack_tag "qr" %>
<% end %>

<div class="container">
  <button id="scan-qr" class='btn btn-primary'> Click to scan! </button>
  <div class="qr-content" hidden>
    <div id="loadingMessage" hidden="">⌛ Loading video...</div>
    <canvas id="canvas" height="360" width="640"></canvas>
    <div id="output">
      <div id="outputMessage">No QR code detected.</div>
      <div hidden=""><b>Data:</b> <span id="outputData"></span></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "locate_delivery_person" %>