<div id="coordinates">

</div>
<!-- employee.latitude = rsult of JS functon
emplppoyee.longitude = result of JS function
set the employee lognitdue to what is returned from the function> -->

<%= content_for(:qr) do %>
  <%= javascript_pack_tag "qr" %>
<% end %>

<div class="container">
  <button id="scan-qr" class='btn btn-primary'> Click to scan! </button>
  <div class="qr-content" hidden>
    <div id="loadingMessage" hidden="">⌛ Loading video...</div>
    <canvas id="canvas" height="360" width="640"></canvas>
    <div id="output">
      <div id="outputMessage">No QR code detected.</div>
      <div hidden=""><b>Data:</b> <span id="outputData"></span></div>
    </div>
  </div>
</div>

<% if current_user.employee? %>
  <%= javascript_pack_tag 'locate_delivery_person' %>
  <script>
    geoFindMe('<%= current_user.employee.id %>');
  </script>
<% end %>
