<%= content_for(:qr) do %>
  <%= javascript_pack_tag "qr" %>
<% end %>

<div class="container">
<h3>Employee dashboard</h3>
  <div class="container">
    <button id="scan-qr" class='btn btn-primary'> Click to scan! </button>
    <div class="qr-content" hidden>
      <div id="loadingMessage" hidden="">⌛ Loading video...</div>
      <canvas id="canvas" height="180" width="360"></canvas>
      <div id="output">
        <div id="outputMessage">No QR code detected.</div>
        <div hidden=""><b>Data:</b> <span id="outputData"></span></div>
      </div>
    </div>
  </div>
</div>
