function renderHtmlLed (color) {
  return `<div class='container-led'>
    <div class='led-box'>
      <div class='led-${color}'></div>
    </div>
  </div>`
};

var runnerId = '<%= @employee.id %>';
var runnerInventory = '<%= @employee.inventory %>';
var ledBox = document.querySelector(`#runner-${runnerId}`);

if (runnerInventory < 5) {
  var red = 'red'
  ledBox.innerHTML = renderHtmlLed(red);
} else if (runnerInventory < 10) {
  var yellow = 'yellow'
  ledBox.innerHTML = renderHtmlLed(yellow);
} else {
  var green = 'green'
  ledBox.innerHTML = renderHtmlLed(green);
};



function checkIfNill(data) {
  if (isNaN(data)){
    return 0;
  } else {
    return data;
  };
};

var inventoryLabel = document.querySelector(`#inventory-${runnerId}`);
var employeeInventory = '<%= @employee.inventory %>';
var newRefill = parseInt('<%= @amount %>');
var employeeInventory = employeeInventory - newRefill
var input = parseInt(employeeInventory) + (checkIfNill(newRefill));
inventoryLabel.innerHTML = input;

inventoryLabel.style.color = 'limegreen'
inventoryLabel.style.borderColor = 'limegreen'
inventoryLabel.addEventListener("transitionend", function() {

  inventoryLabel.style.color = 'black'
  inventoryLabel.style.borderColor = '#999999'
}, false);

document.querySelectorAll(".form-control").forEach((element)=>{
  element.value = '';
})






