// Define variables for your color scheme

// For example:

$red: #ff1943;
$dark-red: #fA0033;
$light-red: #ff698C;
$black: rgb(0,0,0);
$darkg-gray: rgb(80,80,80);
$gray: rgb(160,160,160);
$light-gray: rgb(244,244,244);
$white: rgb(255,255,255);

