// Define variables for your color scheme

// For example:

$red: #ff1943;
$dark-red: #fA0033;
$light-red: #ff698C;
$black: rgb(0,0,0)
$dark-grey: rgb(80,80,80)
$grey: rgb(160,160,160)
$light-grey: rgb(210,210,210)
$white: rgb(255,255,255)

$blue: $#0299ff
