.container-newmealdate{
  background-color:white;
  border-radius: 5px;
  padding:20px;
  font-size: 18px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  display: flex;
}
.drop-down{
  margin-bottom:10px;
}

#meal_date_meal_id{
  width:300px;
}

#meal_date_date{
    width:300px;
}
