#order-new{
text-align:center;
padding-top: 20px;
justify-content:space-around;
}

.order-photo-container {
}

#order-photo{
  height:300px;
  // height: 100px;
  // max-width:90%;
  // height: 100%;

  // width: auto;
  background-position: center;
  background-size: cover;

  // height:auto;
  // image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  margin:15px;
  border-radius: 5px;
}

#order-input{
  margin-top: 20px;
  text-align: center;
  justify-content:space-around;

}
