.container-personal-info{
  background-color:white;
  margin:20px;
  margin-left: 0px;
  border-radius: 5px;
  padding:10px;
  font-size: 18px;

  & h3{
    font-size: 25px;
  }

  & p {
    font-size: 14px;
  }
}

.container-personal-password{
  background-color:white;
  margin:20px;
  margin-left: 0px;
  border-radius: 5px;
  padding:10px;
  font-size: 18px;
  & p {
    font-size: 14px;
  }
  & h3{
    font-size: 25px;
  }
}

.container-personal-photo{
  background-color:white;
  margin:20px;
  margin-left: 0px;
  border-radius: 5px;
  padding:10px;
  font-size: 18px;
  & p {
    font-size: 14px;
  }
  & h3{
    font-size: 25px;
  }
}


// .container-avatar{
//   height: 130px;
//   position: relative;
//   margin:20px;
//   margin-bottom: 0px;
//   margin-left: 0px;
//   border-radius: 5px;
//   padding:10px;
//   font-size: 18px;

//   & h3{
//     font-size: 25px;
//   }

//   & p {
//     font-size: 14px;
//   }
// }

.container-avatar{
  position: absolute;
  right: 50%;
  margin-right: 40px;
  top:-30%;
  // margin:20px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // border-radius: 5px;
  // padding:10px;
  // font-size: 18px;

  & h3{
    font-size: 25px;
  }

  & p {
    font-size: 14px;
  }
}

#customer-id{
  color:$gray;
}

#customer-show-title{
  color:$dark-gray;
  margin-bottom: 90px;
}

