<h1>Confirm your order</h1>

<%= @order.pre_order %>

<div class="container">
  <%= simple_form_for([@meal_date, @order]) do |f| %>
    <%= f.input :quantity, label: false, placeholder: "quantity" %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
