<div
id="map-runners"
style="width: 100%;
height: 100%;"
class="order-tab-content-<%= meal_date.id %>" data-id="<%= meal_date.id %>"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
