<% @qr = meal_date.qr_code(current_user)  %>

<div class='container-qr'>
  <table class="qr-code">
  <% @qr.modules.each_index do |x| %>
    <tr>
    <% @qr.modules.each_index do |y| %>
     <% if @qr.dark?(x,y) %>
      <td class="red"/>
     <% else %>
      <td class="white"/>
     <% end %>
    <% end %>
    </tr>
  <% end %>
  </table>
  <br />
</div>
