<% order = current_user.orders.where("meal_date_id = ?", meal_date).to_a[0] %>
<% if order.status == "Picked up" %>
  <a class="btn-order-status-green"><%= order.status %></a>
<% else %>
  <a class="btn-order-status" id="order-status-<%= meal_date.id %>"><%= order.status %></a>
<% end %>
