<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
      <div class="add-meal-title">
        <h1>Assign Meal</h1>
      </div>
      <div class="container-newmealdate">
        <%= simple_form_for(@meal_date) do |f| %>
        <div class="drop-down">
          <p>Select meal:</p>
          <%= selected = f.collection_select :meal_id, Meal.order(:name), :id, :name, include_blank: true%>
        </div>
        <div class="date">
          <p>Select date:</p>
          <%= f.input :date, label: false, placeholder: "Select Date", as: :string, input_html: { class: "datepicker" } %>
        </div>
        <%= f.submit "Create Meal", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


