.btn-red{
  background-color:$red;
  &:hover{
    color:white;
    opacity: 1.4;
  }
}

.btn-grab {
  background: $red;
  color:white;
  // width: 136px;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  &:hover {
    text-decoration: none;
    color: white;
    background: $dark-red;
  }
}

.btn-order-status {
  color: $red;
  border: 1px solid $red;
  padding: 4px 7px;
  border-radius: 4px;
  font-weight: lighter;
  &:hover {
    text-decoration: none;
  }
}

.btn-order-status-green {
  color: rgb(0, 204, 102);
  border: 1px solid rgb(0, 204, 102);
  padding: 4px 7px;
  border-radius: 4px;
  font-weight: lighter;
  &:hover {
    text-decoration: none;
  }
}

