.meal-card-photo-div-wrapper {
  height: 50vh;
  background: white;
}

.meal-card-photo-div {
  height: 45vh;
  position: relative;
}

.meal-card-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal-card-btn {
  position: absolute;
  bottom: -27px;
  right: 50%;
  margin-right: -67px;
}

.meal-card-description {
  margin-top: 12px;
  padding: 3px 20px;
  min-height: 30vh;
  h3 {
    margin: auto 0px;
    font-size: 5vw;
  }
  p {
    text-align: justify;
    margin-top: 12px;
  }
}

.meal-name-price-group {
  display: flex;
  justify-content: space-between;
}

.pick-up-instructions {
  line-height: 13pt;
  padding: 3px 20px;
  margin-bottom: -15px;

}

#meal-date-container{
  margin-top: 40px;
}

@media (min-width: 500px) {
  .meal-card-description {
    h3 {
     font-size: 25px;
    }
  }
}

@media (max-width: 720px) {

  .container {
    margin: 0;
    padding: 0;
  }

  .alert {
    display: none;
  }

  // .col-xs-12 {
  //   padding: 0;
  // }

  // .tabs {

  // }
}
