/*
 *= require_tree .
 *= require_self
 */
// .hello {
//   display: flex;
//   align-items: center;
//   height:100%;
// }
.container-qr {

  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center
}

table.qr-code {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
table.qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }
table.qr-code td.red { background-color: $red; }

.container-checked {
  align-items: center;
  text-align: center;
}

.logo-checked {
  height: 150px;
  width: 150px;
  margin: 20px;
}
