.container-card{
  background-color:white;
  margin:10px;
  margin-left: 0px;
  border-radius: 5px;
  padding:5px;
  text-align: center;
  font-size: 18px;
  & p {
    font-size: 14px;
  }
  & h3{
    font-size: 25px;
  }
}

.container-scanning-tool {
  display: flex;
  justify-content: center;
}

#canvas {
  height: 90%;
  width:80%;
}

.qr-container {
  margin: 5px;
}


@media (max-width: 720px) {

  .container-scanning-tool {
    display: block;
  }

  .qr-container h2 {
    font-size: 24px,
  }

  .qr-container h3 {
    font-size: 16px,
  }
}






