.tabs {
  display: flex;
  margin: 0px 0px;
  background: $light-gray;
}

.tab {
  flex: 1 1 20%;
  background: white;
  text-align: center;
  padding: 10px 0;
  // h3, p {
  //   color: $red;
  // }
}

.active {
  background: rgb(235, 235, 235);
}

.tabs a {
  text-decoration: none;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs h3 {
  font-size: 17px;
  font-weight: normal;
  margin-top: 0;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}

.tab:first-child {
  border-radius: 5px 0 0 0;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
